$sidebar-width: 140px;

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template:
            [row1-start] "header header" 80px [row1-end]
            [row2-start] "nav content" auto [row2-end]
            [row3-start] "footer footer" 80px [row3-end]
            / $sidebar-width 1fr;
}

footer {
  grid-area: footer;
}

header {
  display: grid;
  grid-area: header;
  grid-template:
            [row1-start] "logo title" 1fr [row1-end]
            / $sidebar-width auto;
}

nav {
  grid-area: nav;
  background-color: yellowgreen;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    li {
      padding: 15px 0;
      text-align: center;
    }
    li:hover {
      background-color: blue;
    }
  }
}

#logo {
  grid-area: logo;
  background-color: purple;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-content {
  grid-area: content;
  background-color: red;
  p {
    width: 120px;
  }
}

#title {
  grid-area: title;
  background-color: teal;
  display: flex;
  align-items: center;
}