@charset "utf-8";
/* CSS Document */

body {
	background:#C4C4C4;
	margin:0;
	padding:0;
}

#contact-info h3 {
	color:rgb(250, 250, 250);
	text-align:center;
	font-family:'Roboto Condensed',sans-serif;
	text-transform:uppercase;
	font-weight:300;
	margin:10px 0 10px 0;
}

#contact-info a {
	color:rgb(250, 250, 250);
	text-decoration:none;
}

#content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

#error-content h1, #error-content p {
	color:rgb(250, 250, 250);
	font-family:'Fjalla One', sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
}

#error-content h1 {
	font-size: 4.2em;
	text-transform: uppercase;
	margin-top: 5px;
}

#error-content p {
	margin: 5px 0px;
	font-size: 1.5em;
}

#error-wrapper {
	height:240px;
	background:#939393;
	width:100%;
	margin-top: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#hidden2{
	display:none;
}

#hidden3{
	display:none;
}

#main-wrapper{
	height:280px;
	background:#939393;
	width:100%;
	margin-top: 25px;
}

#name-box {
	color:rgb(250, 250, 250);
	text-align:center;
	font-family:'Fjalla One', sans-serif;
	text-transform:uppercase;
}

#name-box h1 {
	font-size:66px;
	margin-bottom:5px;
	margin-top: 0;
}

#name-box h2 {
	font-size: 42px;
	margin: 5px 0px;
}

#name-box h2 a {
	color:rgb(250, 250, 250);
	text-decoration: none;
}

#social {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 128px;
}

@media screen and (max-width:338px) {
	#content{
		width:100%;
	}
	#hidden{
		display:none;
	}
	#hidden2{
		display:inline;
	}
	#main-wrapper{
		height:380px;
	}
}

@media screen and (max-width:376px) {
	#content{
		width:100%;
	}
	#main-wrapper{
		height:380px;
	}
}

@media screen and (max-width:450px) {
	#content{
		width:100%;
	}
	#hidden3{
		display:inline;
	}
	#main-wrapper{
		height:380px;
	}
}
